.board {
  min-width: 350px;
  width: 350px;
  max-height: 100%;
  flex-basis: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000 ;
  border: 1px solid #ffff;
  border-radius: 5px;
}

.board_header_title {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 15px;
  color:#ffff ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.board_header_title span {
  color:#ffff;
  margin-right: 15px;
  font-size: 18px;
}

.board_header_title_more {
  cursor: pointer;
  position: relative;
  color: #ffff;
  margin-right: 10px;
  display: flex;
  align-items: right;
}

.board_header_tittle_plus{
  cursor: pointer;
  position: relative;
  color: #ffff;
  margin-right: 2px;
  display: flex;
  align-items: center;
}

.board_dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 140px;
  cursor: default;
}
.board_dropdown p {
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.board_cards {
  background-color:#000000;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  border: 1px solid #ffffff;
}

.board_add-card {
  background-color: #000;
  color: #ffff;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  
}
.board_add-card_edit {
  background-color: #fff;
  color: ;
  border-radius: 10px;
  padding: 10px;
}
